body, html{
  height: 100%;
  margin: 0px;  
}
#main{
padding-left: 35px;
width: 80%;
border-radius: 10px;
background-color:aqua
}

#title{
padding-left: 20px;
color:blue;
}

body{
    background-color: burlywood;
    padding-bottom: 400px;
}

#secondary{
  padding-left: 35px;
  width: 80%;
border-radius: 10px;
background-color:darkmagenta
}

img{
  width: 400px;
  height: 400px;
  float: left;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}